:root {
    --bg-color: #ffffff;
    --text-color: #4646353;
}

body {
    background-color: var(--bg-color);
}

header {
    padding: 0 .5rem;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4px 4px;
}

.menu-btn::before {
    content: "🟰";
}

.menu-btn.open::before {
    content: "❌";
}

nav {
    display: none;
}

nav.open {
    display: block;
}

nav a {
    display: block;
    width: 100%;
    padding: 1rem .5rem;
    text-decoration: none;
}

.nav-link:hover {
    border-bottom: 2px solid red;
}

/* Footer */
.site-footer {
background-color: #111;
color: white;
padding: 40px 20px;
font-family: Arial, sans-serif;
}

.footer-container {
display: flex;
justify-content: space-between;
flex-wrap: wrap;
max-width: 1200px;
margin: auto;
}

.footer-section {
flex: 1;
min-width: 200px;
margin-bottom: 20px;
}

.footer-section h3 {
color: #00bfff;
margin-bottom: 10px;
}

.footer-section ul {
list-style: none;
padding: 0;
margin: 0;
}

.footer-section ul li {
margin-bottom: 8px;
}

.footer-section ul li a {
color: white;
text-decoration: none;
transition: color 0.3s ease;
}

.footer-section ul li a:hover {
color: #00bfff;
}

.footer-bottom {
text-align: center;
margin-top: 30px;
border-top: 1px solid #444;
padding-top: 20px;
font-size: 14px;
}
